#mywrap {
    position: absolute;
    right: 0;
    bottom: 0;
}

.modemode form {
    margin: 0 !important;
}

.modemode {
    display: none;
}

.modemode input:not(.half) {
    width: 100% !important;
}

.modemode input.half {
    width: 100% !important;
}

.modemode table {
    margin: 0 !important;
}

.modemode table tr {
    border: 0 !important;
}

.modemode table tr td {
    padding: 0 3px !important;
}

.lastnamee {
    position: absolute;
    top: 0;
    right: 0;
}

.profilepicwrap {
    background: white;
    padding: 7px 5px;
    margin: 10px 0;
    width: 100%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

#wrap {
    text-align: right;
}

#regbar {
    height: 67px;
}

h2 {
    padding: 20px;
    color: #999d9e;
}

fieldset {
    border: none;
}

.login {
    position: relative;
    width: 350px;
    display: none;
    z-index: 2;
    text-align: left;
    top: -30px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    left: 10%;
    position: absolute;
    top: -10px;
}

.formholder {
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"], .formholder input[type="text"] {
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus, .formholder input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"], .formholder input[type="button"] {
    background: #1abc9c;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.formholder input[type="submit"]:hover, .formholder input[type="button"]:hover {
    background: #1bc6a4;
}

.randompad {
    padding: 10px;
}

.green {
    color: #1abc9c;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}
a:hover {
    color: #1abc9c;
}
