<header id="header">
    <a href="index.html" class="logo"><strong>RecoverNow</strong> by One more thing</a>
    <div id="mywrap">
        <div id="wrap">
            <div id="regbar">
                <div id="navthing">
                    <h2><a href="#" id="loginform">Login</a> | <a href="#" id="registerform">Register</a></h2>
                    <div class="login">
                        <div class="arrow-up"></div>
                        <div class="formholder">
                            <div class="randompad">
                                <fieldset>
                                    <label name="email">Email</label>
                                    <input type="email" />
                                    <label name="password">Password</label>
                                    <input type="password" />
                                    <input type="submit" value="Login" />

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>